
html, body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
  background-color: #001a33;
  
}


